* {
    box-sizing: border-box;
}

html, body {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    background-color: black;
    color: white;
    margin: 0px;
    min-height: 100vh;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

#wheel {
    max-width: 100%;
    aspect-ratio: 1/1;
    max-height: 80vh;
}

main {
    display: flex;
    max-width: 1920px;
    margin: auto;
    padding-top: 10px;
    flex: 1;
}

.wheel-container {
    flex: 0 1 1000px;
    display: inline;
    align-self: center;
    display: flex;
    justify-content: center;
}

.right-container {
    flex: 0 1 30rem
}

.popup-bg {
    background-color: rgba(128, 128, 128, 0.5);
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0px;
    left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}

.popup {
    width: 400px;
    height: 150px;
    background-color: black;
    border-radius: 20px;
    padding: 20px;
}

#remove-el {
    background-color: transparent;
    border: dodgerblue solid 1px;
    font-size: 16px;
    color: dodgerblue;
    padding: 10px;
    border-radius: 10px;
}

#remove-el:hover {
    background-color: rgba(77, 98, 214, 0.3);
    cursor: pointer;
}

#close-popup {
    background-color: transparent;
    border: lightgray solid 1px;
    font-size: 16px;
    color: lightgray;
    padding: 10px;
    border-radius: 10px;
}

#close-popup:hover {
    background-color: rgba(128, 128, 128, 0.3);
    cursor: pointer;
}

footer {
    height: 10vh;
    color: gray;
    flex: 0 0 60px;
    padding-left: 20px;
    padding-right: 20px;
}

footer > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

footer span > a {
    color: gray;
}

#github-logo {
    opacity: 0.5;
}

#confetti-canvas {
    position: absolute;
    width: 100vw;
    height: 100vw;
    display: none;
}

@media only screen and (width < 1000px) {
    main {
        display: block;
        width: 100vw
    }
    .right-container {
        padding-left: 10px;
        padding-right: 10px;
        width: 100%;
    }

    .wheel-container {
        width: 100%;
    }

    #options-table {
        width: 100%;
    }

    #options input {
        width: 100%;
    }

}